 <!-- About Section -->
    <section class="success" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color: #2c3e50">About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p style="color: #2c3e50; text-align: justify;">
                     Our ultimate goal at Lafayette Backsplash & Remodel 
                     is providing our customers the best overall experience 
                     when it comes to kitchen and bathroom tile work. We 
                     are a family owned small business and have proudly 
                     served the greater Lafayette community for over 5 years. 
                     We specialize in backsplash and tile flooring and accent 
                     installs, and can install various tile makes and styles, 
                     including glass, granite, marble, stone, ceramic, and 
                     porcelain! We hope that when it comes to bringing your 
                     next project or remodel design to life, to consider 
                     Lafayette Backsplash & Remodel!                     
                    </p>
                </div>
            </div>
        </div>
    </section>
